'use strict'
const mongoose = require('mongoose')

const <%= _NAME %> = new mongoose.Schema()

<%= _NAME %>.plugin(require('./plugins/<%= _NAME.toLowerCase() %>'))<% for (const extention of _EXTENTIONS.entries()) { %>
<%= _NAME %>.plugin(require('./plugins/<%= extention[1].toLowerCase() %>'))<% } %>
<%= _NAME %>.plugin(require('../../../adon'))

module.exports = mongoose.model('<%= _NAME %>', <%= _NAME %>)
